<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Payroll Summary</title>
</head>
<body>
{% include 'navbar.html' %}

<section class="container mt-4">
    <div class="row g-3 align-items-end">
        <div class="col-md-3">
            <label for="start_date" class="form-label">Start Date</label>
            <input type="date" id="start_date" name="start_date" class="form-control">
        </div>
            <div class="col-md-3">
            <label for="end_date" class="form-label">End Date</label>
            <input type="date" id="end_date" name="end_date" class="form-control">
        </div>

        <div class="col-md-2">
            <button class="btn btn-dark w-100" id="filterBtn">
                <i class="bi bi-funnel"></i> View Summary
            </button>
        </div>

        <div class="col-md-2">
            <button class="btn btn-success w-100" id="downloadBtn">
                <i class="bi bi-download"></i> Download
            </button>
        </div>
    </div>
</section>
<section>
    <div class="container">
        {% if data.crosses_month %}
            <table class="table table-hover">
                <tr>
                    <td>Date</td>
                    <td>Reference</td>
                    <td>Base Amount</td>
                </tr>
                <tr>
                    <td>{{ data.first_range[0][0] }}</td>
                    <td>{{ data.sum_of_first_range[0] }}</td>
                    <td>{{ data.sum_of_first_range[1] }}</td>
                </tr>
                <tr>
                    <td>{{ data.second_range[0][0] }}</td>
                    <td>{{ data.sum_of_second_range[0] }}</td>
                    <td>{{ data.sum_of_second_range[1] }}</td>
                </tr>
                {% for row in data.first_range %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                {% endfor %}
                {% for row in data.second_range %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</section>
</body>
</html>


