<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance list upload</title>

 {% include 'head.html' %}
 {% include 'navbar.html' %}

</head>
<style>
    body {
        font-family: Arial;
        font-size: medium;
    }

    .upload_file {
        display: block;
        margin-bottom: 5px;
        width: 300px;
        height: 40px;
    }

    .btn-success {
        display: block;
        width: auto;
        height: 35px;
        margin-bottom: 10px;

    }
    .attendance-list{
        margin-top: 5px;
    }

</style>
<body>
{% include 'flash_message.html' %}

<div class="container mt-3">
    <div class="row">
        <div class="card shadow-lg rounded-3">
            <div class="col-md-3">
                <div class="">
                    <p class="attendance-list fw-bold">Attendance List Upload</p>

                    <form action="{{ url_for('attendance_list_upload') }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="file" id="attendance_list" name="attendance_list" class="form-control mb-3" required>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>

            </div>

        </div>
    </div>


</div>


</body>
</html>


