<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>Attendance list upload</title>
</head>
<style>
    body {
        font-family: Arial;
        font-size: medium;
    }

    .upload_file {
        display: block;
        margin-bottom: 5px;
        width: 300px;
        height: 40px;
    }

    .btn-success {
        display: block;
        width: auto;
        height: 35px;
        margin-bottom: 10px;

    }

    .attendance-list {
        margin-top: 5px;
    }

</style>
<body>
{% include 'navbar.html' %}
{% include 'flash_message.html' %}

<div class="container mt-3">
    <div class="row">
        <div class="card shadow-lg rounded-3">
            <div class="">
                <p class="attendance-list fw-bold">{{ list_category }} List Upload</p>
                <form action="{{ url_for('list_upload', list_category=list_category) }}" method="post"
                      enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="row">
                        <div class='col-md-4'>
                            <input type="file" id="list_file" name="list_file" class="form-control mb-3"
                                   required>
                        </div>
                        {% if list_category == 'Payroll Summary' %}
                            <div class="col-md-4">
                                <input type="date" name="date" class="form-control" id="week_select">
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
flatpickr("#week_select", {
  dateFormat: "Y-m-d",
  enable: [
    function(date) {
      // Only allow Sundays
      return date.getDay() === 0;
      // Other days = [1,2,3,4,5,6]
    }
  ]
});
</script>
</body>
</html>


